@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
*{margin: 0; padding: 0;}
body{
    /* background-color: rgb(255, 155, 201); */
    font-family: 'Noto Sans KR', sans-serif;
    overflow-x: hidden
}
.logo{
    display: flex;
    justify-content: center;
}
.scrollTop{
    position: fixed;
    right: 20px;
    bottom: 20px;
    background-color: rgb(255, 155, 201);
    color: white;
    padding: 10px 15px;
    border-radius: 100%;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 40px;
    font-size: 24px;
    opacity: 0.7;
    transition: 0.3s;
    z-index: 100;
}
.scrollTop:hover{
    opacity: 1;
}
html{
    scroll-behavior: smooth;
}
.menuContainer{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    box-shadow: 0px 0px 1px#999;
    display: flex;
    justify-content: center;
}
.menu-item > a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
}
.menu-item > a:hover{
    font-size: 18px;
    transition: 0.2s;
}
.menu{
    width: 1090px;
    height: 70px;
    display: flex;
    justify-content: center;
    line-height: 70px;
}
.menu-item{
    list-style: none;
    margin-right: 100px;
}
.menu img{
    margin-top:10px; 
}
.top{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 50px;
}
.imgBox{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 697px;
}
.box{
    background-color: rgba(255, 155, 201, 0.2);
    width: 795px;
    height: 697px;
    text-align: center;
    position: relative;
    margin-bottom: 50px;
}
.imgBox > .box > h2{
    font-size: 26px;
    text-align: center;
    margin-top: 40px;
}
.imgBox > .box > img{
    padding-top: 70px;
    width: 600px;
    height: 450px;
}
.imgBox > .box > p{
    margin-top: 30px;
}
.textbox1{
    width: 950px;
    height: 71px;
}
.box2{
    margin-top: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-left: 76px;
    margin-bottom: 40px;
}
.back{
    display: flex;
    justify-content: center;
}
.back > a{
    text-decoration: none;
    color: white;
}
a > .btn{
    width: 360px;
    height: 57px;
    background-color: #bbbbbb;
    border-radius: 100px;
    text-align: center;
    position: relative;
}
.btn > p{
    line-height: 57px
}
.btn > img{
    width: 10px;
    height: 10px;
    position: absolute;
    left: 25px;
    top: 24px;
    transition: 0.1s;
}
a:hover img{
    left: 21px;
}
.finish{
    background-color: #313131;
    height: 120px;
    color: white;
    text-align: center;
    margin-top: 50px;
}